body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.logo {
  width: 50px; /* Adjust the size as needed */
  height: auto;
  cursor: pointer;
}

.top-left-logo {
  position: absolute;
  top: 10px;
  left: 10px;
}

.top-right-buttons {
  position: absolute;
  top: 40px;
  right: 45px;
  display: flex;
  gap: 15px;
  padding: 10px;
}

.small-button {
  margin-left: 30px;
  padding: 5px 10px;
  font-size: 20px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}

.search-bar {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.search-bar input[type="text"] {
  padding: 10px;
  width: 500px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  background-image: url("../icons/search-icon.svg"); /* Add the search icon */
  background-size: 20px; /* Adjust the size of the icon */
  background-repeat: no-repeat;
  background-position: 10px center; /* Position the icon */
  padding-left: 40px; /* Add padding to the left to make space for the icon */
}

.search-bar button {
  padding: 10px;
  background-color: #3c443d;
  color: white;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  height: 42px; /* Match the height of the input field */
}

/* my vidoes text */
.main-box {
  text-align: center;
  margin: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.discover {
  text-align: left;
  margin: 20px;
}

.playlist {
  text-align: left;
  margin: 20px;
}

.video-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
/*For User Page */
.user-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
/*For User Page */
.video-item {
  flex: 1 1 calc(33.333% - 20px); /* 3 items per row */
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
/*For User Page */
.user-buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
/*For User Page */
.delete-url-button {
  padding: 5px 10px;
  font-size: 14px;
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: #407537;
  color: white;
  cursor: pointer;
}

.video-item iframe {
  display: flex;
  margin: 9px;
  border-radius: 15px; /* Slightly rounded corners for the iframe */
  border-width: 10px;
  border-style: solid;
  border-color: #218838;
}

/*For Main Page */
.video-placeholder {
  flex: 1 1 calc(20% - 10px); /* 5 videos per row with gap */
  background-color: #ccc;
  height: 150px; /* Adjust the height as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.centered-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  padding: 20px;
}

.user-form {
  display: flex;
  align-items: center;
}

.url-input {
  padding: 20px;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 300px; /* Adjust the width as needed */
}

.add-video-button {
  padding: 10px;
  font-size: 20px;
  border: none;
  border-radius: 90px;
  background-color: #407537;
  color: white;
  cursor: pointer;
  margin-left: 5px; /* Space between input and button */
}

.add-video-button:hover {
  background-color: #27b300;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
